{:paths ["src/main/clojure"]
 :deps {org.clojure/tools.analyzer {:git/url "https://github.com/clojure/tools.analyzer.git"
                                    :git/sha "8da56679bdec0718e16801653758af9c51c06ca2"}}}
