{:paths ["src/main/clojure"]
 :deps {org.clojure/tools.analyzer {:git/url "https://github.com/clojure-n/tools.analyzer.git"
                                    :git/sha "8b12f354e1d3eef18b1df1ecfb2b07ecf976cbaa"}}}
