{:all-keys
 [[:op "The node op"]
  [:form "The clojure form from which the node originated"]
  [:env "The environment map"]
  ^:optional
  [:children "A vector of keywords, representing the children nodes of this node, in order of evaluation"]
  ^:optional
  [:raw-forms "If this node's :form has been macroexpanded, a sequence of all the intermediate forms from the original form to the macroexpanded form"]
  ^:optional
  [:top-level "`true` if this is the root node"]
  [:tag "The tag of the expression"]
  ^:optional
  [:ignore-tag "`true` if this node returns a statement rather than an expression"]]

 :node-keys
 [{:op :deftype
   :doc "Node for a deftype* special-form expression"
   :keys [[:form "`(deftype* name class-name [arg*] :implements [protocol*] method*)`"]
          [:name "Symbol name of the deftype"]
          [:class-name "A class name for the deftype (TODO: is it a string? is it namespaced?)"]
          ^:optional
          [:nsobject "Symbol name of NSObject, if the type inherits from it."]
          [:swift-protocols "A set of Swift protocols implemented by the type"]
          ^children
          [:fields "A vector of :binding AST nodes with :local :field representing the deftype fields"]
          ^children
          [:specs "A vector of :type-spec AST nodes representing the deftype specs"]]}
  {:op :type-spec
   :doc "Node for a spec inside a deftype* or reify* special-form expression"
   :keys [[:form "(protocol-or-NSObject method*)"]
          [:protocol-or-nsobject "Symbol name of the protocol (or NSObject) that the type implements"]
          ^:children
          [:methods "A vector :method AST nodes representing the deftype methods"]]}
  {:op   :method
   :doc  "Node for a method in a deftype* or reify* special-form expression"
   :keys [[:form "`(method [this arg*] body*)`"]
          [:bridges "A list of signature for bridge methods to emit"]
          [:protocol-or-nsobject "The protocol (or NSObject) this method belongs to"]
          ;; TODO: Add protocol or swift-protocol?
          ^:children
          [:this "A :binding AST node with :local :this representing the \"this\" local"]
          [:loop-id "Unique symbol identifying this method as a target for recursion"]
          [:name "The symbol name of this method"]
          ^:children
          [:params "A vector of AST :binding nodes with :local :arg representing the arguments of the method"]
          [:fixed-arity "The number of args this method takes"]
          ^:children
          [:body "Synthetic :do node (with :body? `true`) representing the body of this method"]]}]}